body {
    background-color: black;
    color: white;

    font-family: sans-serif;
    margin: 0px;}

 header {
        border-bottom: solid 3px rgb(42, 122, 228);
        padding: 20px;
        font-size: 35px;
        color: rgb(228, 126,42 );

    }


    header {
        border-bottom: 3pix rgb(151, 37, 37)
    }

    h1 {
        30pix
    }


    h1 {
        20px;
    }

    p {
        font-size: 30px;
    }
}